@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root {
    --web-background: black;
    --off-screen-background-color: #22b4ab;
    --web-font: 'Work Sans', sans-serif;
    --permanent-marker-font: 'Permanent Marker', cursive;
    --text-primary-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.company-logo {
    max-width: 179px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
}

/* hamburger menu icon */
#hamburger-menu {
    height: 35px;
    width: 35px;
    position: relative;
    cursor: pointer;
}

.ham-bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}

.ham-bar:hover {
   background-color: white; 
}

.bar-top {
    top: 25%;
    background-color: whitesmoke;
}

.bar-bottom {
    top: 75%;
    background-color: whitesmoke;
}

#hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

#hamburger-menu.active .bar-mid {
    opacity: 0;
}

#hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}

/* off Screen */
.off-screen {
    position: fixed;
    bottom: -100%;
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: 99;
    background-color: var(--off-screen-background-color);
    transition: bottom .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.off-screen.active {
    bottom: 0;
}

.menu {
    list-style-type: none;
    text-align: center;
    margin-top: 150px;
}

.menu .menu-item a {
    text-decoration: none;
    color: var(--text-primary-color);
    font-family: var(--web-font);
    letter-spacing: -1px;
    font-size: 50px;  
}

.bottom {
    display: flex;
    margin-top: auto;
}

.bottom-icon {
    display: flex;
    padding-left: 650px;
}

.bottom-text .a-tag {
    color: var(--text-primary-color);
    text-decoration: none;
}

.bottom-icon .a-tag {
    margin-left: 20px;
    color: var(--text-primary-color);
}

/* banner Style */
.banner {
    background-color: var(--web-background);
    height: 100vh;
}

.banner-image {
    background-image: url('../img/vaynerbreakthrough2022.jpeg');
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
}

.adweekImg {
    margin-top: 25px;
    margin-bottom: 20px;
    max-width: 250px;
    max-height: 100px;
}

.agency-text mark {
    /* background-color: var(--off-screen-background-color) !important; */
    background-image: linear-gradient(to right,#27ccc0 0,#27ccc0 100%);
    color: var(--text-primary-color);
    font-family: var(--web-font);
    font-size: x-large;
    letter-spacing: 1px;
    padding: 0;
}

.story-text {
    font-family: var(--permanent-marker-font);
    color: var(--text-primary-color);
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 0;
}

.auther-text {
    color: var(--text-primary-color);
    font-size: 20px;
    margin-left: 8rem;
    margin-top: 0px;
}

.about-text {
    color: var(--text-primary-color);
    font-family: var(--web-font);
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 30px;
}

.read-btn {
    text-decoration: none;
    color: var(--off-screen-background-color);
    text-transform: uppercase;
    font-size: small;
    padding: 8px 25px 8px 35px;
    font-weight: bold;
    border: 2px solid var(--off-screen-background-color);
    transition: all ease .5s;
}
.read-btn i {
    visibility: hidden;
}

.read-btn:hover {
    color: var(--text-primary-color);
    background-color: var(--off-screen-background-color);
}

.read-btn:hover i {
    visibility: visible;
    margin-left: 10px;
}

@media screen and (max-width: 999px) {
    .company-logo {
        max-width: 150px;
    }

    .bottom {
        flex-direction: column-reverse;
    }

    .bottom-icon {
        padding-left: 0px;
        margin-bottom: 20px;
        justify-content: center;
    }
}

